{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Serendipia</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                </br>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu purus nibh. Aenean nec justo eu
                    odio efficitur posuere. Donec elementum magna nunc, id congue tortor suscipit id. In at eleifend
                    sapien. In hac habitasse platea dictumst. In vel dictum dui. Nullam ornare ullamcorper aliquam.
                    Vivamus tincidunt ipsum ut nibh lobortis, in sagittis diam ultricies. Quisque massa quam, efficitur
                    ac tristique eget, suscipit sit amet massa. Fusce eu dolor sed risus accumsan gravida. Mauris
                    venenatis ut nisi id fermentum.
                    </br></br>
                    Sed vulputate massa et posuere egestas. Quisque sed nunc eu elit scelerisque rutrum. Praesent sit
                    amet ante vitae libero dictum varius. In accumsan a libero quis maximus. Aliquam erat volutpat. Nunc
                    laoreet lorem eget augue pharetra, quis iaculis magna dignissim. Etiam in justo eu ante bibendum
                    interdum. In sodales nibh eget bibendum rhoncus. Cras efficitur dapibus est eget consectetur. Aenean
                    porttitor, orci ac semper elementum, turpis leo eleifend orci, eget lobortis dolor magna eget
                    tortor. Donec quis convallis ligula.
                </p>
                </br>
            </div>
        </center>
    </div>
</div>
{% endblock %}