{% extends 'base.html' %}
{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Actualizar Información del usuario</h1>
                <p class="lead fw-normal text-white-50 mb-0">Actualizar Información del usuario</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                </br>
                    <form method="POST" action="{% url 'update_info' %}">
                        {% csrf_token %}
                        
                        {{ form.as_p }}

                        <br/><br/>
                        <strong>Información del envío</strong>
                        <br>
                        {{ shipping_form.as_p }}

                        <br/><br/><br/><br/>
                        <button type="submit" class="btn btn-secondary">
                            Actualizar información
                        </button>
                    </form>
                    </br>
                </div>
            </center>
        </div>
    </div>
{% endblock %}