{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <div class="card">
                    <div class="card-header">
                      Orden {{order.id}} - ${{order.mount_paid}}
                    </div>
                    <div class="card-body">
                        Email: {{order.email}} <br>
                        {% if order.date_shipped %}
                        Fecha de envio: {{order.date_shipped}}
                        {% else %}
                        Fecha de la orden: {{order.date_ordered}}
                        {% endif %}
                        <br>
                        Nombre completo: {{order.full_name}} <br>
                        Domicilio de envío: {{order.shipping_address}}
                        <br><br>
                        {% for item in items %}
                            {{ item.product }} - {{ item.quantity }} - ${{ item.price }} 
                            <br>
                        {% endfor %}
                        <br><br>
                        {% if not order.shipped %}
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="shipped_status" value="true">
                                <button type="submit" class="btn btn-success">
                                    Marcar como enviado.
                                </button>
                            </form>
                        {% else %}
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="shipped_status" value="false">
                                <button type="submit" class="btn btn-danger">
                                    Marcar como no enviado.
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <br><br>
        </center>
    </div>
</div>
{% endblock %}